{% extends 'main/base.html' %}
{% block content %}
<h1>Add a site</h1>
{% if user.is_authenticated %}
{% else %}
<div class="alert alert-danger" role="alert">
    Please login to post
  </div>
{% endif %}
<form method="post" action="/addsite/">
    {% csrf_token %}
    {{form.as_p}}
    {% if user.is_authenticated %}
        <button type="submit", name="submit" class="btn btn-success">Submit a new site</button>
    {% else %}
        <button type="submit" class="btn btn-success" disabled>Submit a new site</button>
    {% endif %}
</form>
{% endblock %}